::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 24px 12px !important;

  ::ng-deep.mat-step-label {
    white-space: pre-wrap;
  }
}

::ng-deep.mat-horizontal-content-container {
  padding: 0 0px 24px 0px !important;
}
